body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
}

#checkboxContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* ilość kolumn */
  gap: 10px; /* Odstępy między elementami */
  max-width: 800px; /* Opcjonalna szerokość kontenera */
}
.checkbox-item {
  width: 50px;
  height: 50px;
  background-color: red; /* Domyślny kolor */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}
/* Styl dla licznika checkboxów */
#counter {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
  max-width: 300px;
  text-align: center;
}

#clearCheckboxes {
  margin: 0 0.5rem;
}

.row {
  margin-bottom: 2rem;
}

/* Styl dla nawigacji */
#navigation {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#navigation button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#navigation .active {
  background-color: #4caf50; /* Kolor aktywnej strony */
}

#navigation .disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#generateLink {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#generateLink:hover {
  background-color: #45a049;
}

#footer {
  margin: 3rem 0;
  opacity: 0.5;
  font-size: 0.8rem;
}

#pageControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#pageControls button {
  margin: 0 0.25rem;
}

#addDeleteButtonBox {
  margin: 0.5rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.inputRow {
  text-align: center;
  width: 50%;
}

.inputRow input {
  margin: 0.5rem 0;
  width: 75%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  max-width: 400px;
}

@media (max-width: 370px) {
  #checkboxContainer {
    grid-template-columns: repeat(5, 1fr); /* ilość kolumn */
  }
}
